body {
    margin: 0;
    padding: 0;
}

label {
    display: inline-block; 
    width:80px;
}

input,select {
    width: 120px;
}

.form, .list {
    text-align: center;
}

.form {
    margin-top: 90px;
}

nav {
    background-color: rgb(93, 110, 223);
    color: white;
    position: fixed;
    padding-left: 10px;
    width: 100%;
    top: 0px;
}


.view-data {
    text-align: center;
}